.media_scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    width: 90%;
    margin: auto;
  }
  
  .media_element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    position: relative;
    height: 300px;
    display: inline-block;
    background: rgb(255, 255, 255);
    width: 217px;
    min-width: 218px;
    max-height: 600px;
    vertical-align: top;
    cursor: pointer;
    border-top: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
    border-image: initial;
    border-left: none;
  }
  .detail {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    overflow: hidden;
    height: 40px;
    display: block;
    margin: 0px 0px 0px -10px;
    color: rgb(0, 19, 37);
    text-overflow: ellipsis;
    text-align: left;
  }
  .subtittle {
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgb(117, 117, 117);
    margin: 0px 0px 0px -10px;
    padding: 0px;
    text-transform: capitalize;
  }
  .viewbtn {
    width: 100px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.57px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    margin-bottom: 2px;
    color: rgb(252, 39, 121);
    margin-left: 50px;
  
  }
  .media_element img {
    width: 156px;
    height: 156px;
  }
  .snaps_inline > * {
    scroll-snap-align: start;
  }
  .reviewstar {
    line-height: 12px;
    margin-bottom: 0.25rem;
    display: flex;
    margin-left: -10px;
  }
  .starwrap {
    display: inline-block;
    margin-right: 2px;
  }
  .reviewcount {
    margin-left: 5px;
    font-size: 12px;
    color: rgb(117, 117, 117);
  }
  .pricediscountprice {
    color: rgb(0, 19, 37);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
  }
  .priceoffer {
    color: rgb(0, 137, 69);
    margin-left: 4px;
    padding-left: 4px;
    border-left: 1px solid rgb(238, 238, 238);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
  }
  .offprice {
    margin-right: 4px;
    color: rgba(0, 19, 37, 0.64);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
  
    text-decoration-line: line-through;
  }
  .price1 {
    line-height: 20px;
    margin-bottom: 0.25rem;
    margin-left: -10px;
    text-align: left;
  }
  .badgediv {
    margin: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  .badgeul {
    width: 80px;
    padding-left: 0px;
    list-style: none;
    margin: 0px 0px 0px -19px;
    display: flex;
  }
  .badgeli {
      margin-right: 4px;
    border: none;
    display: inline-block;
    padding: 0px 5px;
    text-transform: capitalize;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.9px;
    background-color: rgb(223, 249, 229);
    border: 1px solid rgb(195, 231, 206);
    color: rgb(104, 166, 119);
  }
  