.banner {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
  }
  .banner:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .bigheader {
    font-size: 24px;
    font-weight: normal;
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 90%;
    margin: auto;
    gap: 10px;
    margin-top: 20px;
  }
  .setcontainer {
    position: relative;
    display: inline-block;
    width:500px;
  
  }
  
  .discount{
    /* border: 2px solid red; */
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .card2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    box-sizing: border-box;
    width: auto;
    margin-top: 50px;
    height: auto;
    gap: -20px;
    margin-top: 20px;
    /* width: 89%;
    margin: auto; */
  }
  .card2hovereffect{
    margin: auto;
  }
  .card2hovereffect:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .desimcal {
    width: 560px;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
  }
  .desimcal:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .banner2 {
    width: 89%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    border-radius: 3px;
  }
  
  
  .banner2:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .banner3 {
    width: 89%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    border-radius: 3px;
  }
  .banner3:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .cardwidth {
    width: 250px;
  }
  .cardsquare {
    display: flex;
    width: 80%;
    margin: auto;
    margin-left: 80px;
    gap: 20px;
    margin-top: 30px;
  }
  .singlecard{
   width: 70%;
   margin: auto;
  }
  .setcontainer2{
   width: 62%;
   margin: auto;
   
  }
  .cardhovereffect{
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  }
  .cardhovereffect:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  .cardsquare img:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  .setdiv {
    position: absolute;
    padding: 5px;
    width: 450px;
    height: 74px;
    margin-top: -74px;
    margin-left: 20px;
    text-align: center;
    border-radius: 3px;
    background: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    text-transform: capitalize;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  }
  .tittle {
    color: #fc2779;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
  }
  .scrollbtn{
  position: fixed;
  width: 100%;
  left: 94%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: #fc2779;
  height: 45px;
  
      
  }
  
  @media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .banner {
      width: 90%;
      height: auto;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 20px;
      border-radius: 3px;
    }
    .banner:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .bigheader {
      font-size: 24px;
      font-weight: normal;
      color: black;
      text-align: center;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    
    .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      width: auto;
      margin: auto;
      gap: 10px;
      margin-top: 20px;
    }
    .setcontainer {
      position: relative;
      display: inline-block;
      width:400px;
      
    
    }
    
    .discount{
      /* border: 2px solid red; */
      width: 100%;
      margin: auto;
      text-align: center;
    }
    .card2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      box-sizing: border-box;
      width: auto;
      margin-top: 50px;
      height: auto;
      gap: -20px;
      margin-top: 20px;
      /* width: 89%;
      margin: auto; */
    }
    .card2hovereffect{
      margin: auto;
    }
    .card2hovereffect:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .desimcal {
      width: 560px;
      height: 300px;
      object-fit: cover;
      border-radius: 3px;
    }
    .desimcal:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .banner2 {
      width: 89%;
      height: auto;
      margin: auto;
      margin-top: 15px;
      border-radius: 3px;
    }
    
    
    .banner2:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .banner3 {
      width: 89%;
      height: auto;
      margin: auto;
      margin-top: 15px;
      border-radius: 3px;
    }
    .banner3:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .cardwidth {
      width: 250px;
    }
    .cardsquare {
      display: flex;
      width: auto;
      margin: auto;
      margin-left: 80px;
      gap: 20px;
      margin-top: 30px;
    }
    .singlecard{
     width: 70%;
     margin: auto;
    }
    .setcontainer2{
     width: 62%;
     margin: auto;
     
    }
    .cardhovereffect{
      box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    }
    .cardhovereffect:hover{
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    
    .cardsquare img:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    
    .setdiv {
      position: absolute;
      padding: 5px;
      width: 350px;
      height: 74px;
      margin-top: -74px;
      margin-left: 20px;
      text-align: center;
      border-radius: 3px;
      background: rgba(255, 255, 255, 1);
      word-wrap: break-word;
      text-transform: capitalize;
      box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    }
    .tittle {
      color: #fc2779;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
    }
    .scrollbtn{
    position: fixed;
    width: 100%;
    left: 94%;
    bottom: 40px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #fc2779;
    height: 45px;
    
        
    }
  }